__pycache__/
*.pyc
.pytest_cache/
.venv/
.env
results/reports/
results/sqlmap/
sls_scanner/scanners/1.env
*.csv
*.json
results/reports/*.json

results/reports/*.csv

results/reports/*.html

__pycache__/

*.db

data/sls.db
